@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

#map{
  
    position: absolute;
    top: 7rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

.titulo{
  margin-top: 60px;
  margin-left: 20px;
}
